.foto{
    border-radius: 20px;
    width: 20%;
    margin: 0% 15% 2% 2%;
}
@font-face{
    font-family: fontKepala;
    src: url(Font/Sofia-Regular.ttf);
}
@font-face{
    font-family: fontAtas;
    src:url(Font/CrimsonText-SemiBoldItalic.ttf);
}
@font-face{
    font-family: fontMiring;
    src:url(Font/CrimsonText-Italic.ttf);
}
@font-face{
    font-family: fontTeks;
    src:url(Font/CrimsonText-SemiBold.ttf);
}
@font-face{
    font-family: allFont;
    src:url(Font/CrimsonText-Regular.ttf);
}

.fKep{
    font-family: fontKepala;
    font-size: larger;
}
.fAtas{
    font-family: fontAtas;
    font-size: large;
}
.fMir{
    font-family: fontMiring;
    font-size: medium;
}
.fTek{
    font-family: fontTeks;
    font-size: medium;
}
.aFont{
    font-family: allFont;
    font-size: medium;
}

.ketengah{
    text-align: center;
}

#pinggiran{
    height :100%;
}
.Dengah{
    max-width: 85%;
    margin:4% 5% 4% 7%;
    background: rgba(167, 199, 231, 0.8);
    border-radius: 20px;
    padding: 15px;
    box-shadow: rgba(27, 36, 48, 0.56) 0px 22px 70px 4px;
}

.Tengah{
background: rgba(167, 200, 235, 0.8);
border-radius: 20px;
box-shadow: rgba(27, 36, 48, 0.56) 0px 22px 70px 4px;
}

.bg1 { background:rgba(167, 199, 231, 0.6) url("foto/Torii.jpg") no-repeat fixed;
    background-size:cover; margin: 0;}
.bg2 { background:rgba(167, 199, 231, 0.6) url("foto/Kerajaanku.jpg")no-repeat fixed;
    background-size:cover; margin: 0;}
.bg3 { background:rgba(167, 199, 231, 0.6) url("foto/Teahouse.png") no-repeat fixed;
    background-size:cover; margin: 0;}
.bg4 { background:rgba(167, 199, 231, 0.6) url("foto/Blue_abs.jpg") no-repeat fixed;
    background-size:cover; margin: 0;}
.bgf { background:rgba(167, 199, 231, 0.6) url("foto/fibres.png") no-repeat fixed;
    background-size:cover; margin: 0;}
.bg6 { background:rgba(167, 199, 231, 0.6) url("foto/Breeze.gif") no-repeat fixed;
    background-size:cover; margin: 0;}

.hexi{
    background :rgba(27, 76, 112, 0.56);
}
.Tor{
    background :#363637;
}
.bgs{
    background: #000000;
    border-radius: 20px;
    box-shadow: rgba(27, 36, 48, 0.56) 0px 22px 70px 4px;
    }

.kotaklogin{
    background: rgba(167, 199, 255, 0.6);
}
.fHead{
    color:aqua;text-shadow: 0 0 5px #00ff00;
}
.wHead{
    color:black;text-shadow: 0 0 5px black;
}
.hList{
    color:black;text-shadow: 0 0 2px black;
}
.dLink{
    color:#00ff11;text-shadow: 0 0 5px black;
}

.barisList{
    display : inline;
    float:right;
}

.tombol{
    color:#bbbbbb;
    text-decoration: underline;
    font-family: fontAtas;
    font-size: 20px;
}

a{
    background:none;
    }
    .lompat:link {
    color: red;
    text-decoration: none;
    }
    .lompat:visited {
    color: blueviolet;
    text-decoration: none;
    }
    .lompat:hover {
    color: black;
    text-decoration: underline;
    }
    .lompat:active{
    color:#bbbbbb;
    text-decoration: underline;
    }

.lut{
    text-align: center;
    width: 1%;
    left:0;
    margin:0;
    background: darkgray;
    border-radius: 5px;
    padding: 1%;
}

.lompatan{
    text-align: center;
    width: 1%;
    left:0;
    margin:0;
    background: blueviolet;
    border-radius: 5px;
    padding: 1%;
}

  /*
          <div class="row">
            <div class="col-4">
        <ul class="list-group list-group-horizontal-md" style="background-color:rgb(19,58,103);">
            <li class="list-group-item list-group-item-action border border-dark" style="background-color:#7070ff;"><a class="text-decoration-none" href="Home.html" style="color:black;">Home</a></li>
            <li class="list-group-item list-group-item-action"><a class="text-decoration-none" href="Tentang.html">Tentang</a></li>
            <li class="list-group-item list-group-item-action"><a class="text-decoration-none" href="Jurusan.html">Jurusan</a></li>
            <li class="list-group-item list-group-item-action"><a class="text-decoration-none" href="Fasilitas.html">Fasilitas</a></li>
            <li class="list-group-item list-group-item-action"><a class="text-decoration-none" href="UKM.html">UKM</a></li>
        </ul>
            </div>
        </div>
  */