<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manajemen Anggota Perpustakaan</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f5f5f5;
            margin: 20px;
        }

        h1 {
            color: #333;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            background-color: #fff;
            margin: 5px 0;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        form {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            padding: 8px;
            width: 200px;
        }

        button {
            padding: 8px 15px;
            background-color: #4caf50;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Daftar Anggota Perpustakaan</h1>
    <ul>
        {% for anggota in anggota %}
            <li>{{ anggota }}</li>
        {% endfor %}
    </ul>

    <h2>Tambah Anggota Baru</h2>
    <form action="/tambah_anggota" method="post">
        <label for="nama">Nama Anggota:</label>
        <input type="text" id="nama" name="nama" required>
        <button type="submit">Tambah Anggota</button>
    </form>
    <form action="/logout" method="get">
        <button type="submit" class="logout">Logout</button>
    </form>
</body>
</html>
