<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f5f5f5;
            margin: 20px;
            text-align: center;
        }

        h1 {
            color: #4caf50;
        }

        p {
            color: #333;
        }

        a {
            color: #4caf50;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Operasi Berhasil!</h1>
    <p>Anggota <strong>{{ nama }}</strong> berhasil ditambahkan.</p>
    <a href="/index">Kembali ke Daftar Anggota</a>
</body>
</html>
